*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    width:400px;
    padding:30px;
    border-radius:20px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    color:white;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.password-box{
    display:flex;
    margin-bottom:20px;
}

.password-box input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

.password-box button{
    margin-left:10px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#00c9a7;
    color:white;
    cursor:pointer;
}

.settings{
    margin-bottom:20px;
}

#length{
    width:100%;
}

.options{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

.strength{
    margin-bottom:20px;
    font-weight:bold;
}

#generateBtn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#ff9800;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

#generateBtn:hover{
    background:#e68900;
    transform:scale(1.03);
}